@model IEnumerable<ScroogeCrypto.Models.CryptoJsonModel>

@{
    ViewData["Title"] = "GetCrypto";
}

<h1>GetCrypto</h1>

<p class="h5 text-info">The maximum amount of days bitcoin’s price was decreasing in a row was @ViewData["Downward"] days</p>
<div class="mt-4">
    <p class="h5 text-success">The highest price within a given date range</p>
    <p>Date: @ViewData["HighestPriceDate"]</p>
    <p>Value: @ViewData["HighestPrice"] €</p>
</div>

<hr />

@*//IF YOU WANT TO SEE THE LOWEST PRICE UNCOMMENT THIS*@
@*<div class="mt-4">
        <p class="h5 text-warning">The lowest price within a given date range</p>
        <p>Date: @ViewData["LowestPriceDate"]</p>
        <p>Value: @ViewData["LowestPrice"] €</p>
    </div>*@

@if (ViewData["NoTimeToBuyOrSell"] == null)
{
    @foreach (var i in ViewData["TimeToSell"] as IEnumerable<CryptoProfitModel>)
    {
        <p>Best day to buy: @i.BuyDate.ToString("dd.MM.yyyy")</p>
        <p>Best day to sell: @i.SellDate.ToString("dd.MM.yyyy")</p>
        <p>Profit: @i.Profit €</p>
        <hr />
    }
}
else
{
<div class="alert alert-danger" role="alert">
    @ViewData["NoTimeToBuyOrSell"]
</div>
}




<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
